/* VERSION PC */
@media (min-width: 1441px) {
  .profilePage {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 90vh;
    overflow-x: auto;
  }

  .profileBar {
    border-right: 4px solid #ffb20c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 30%;
    height: auto;
  }

  .profileBar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0;
    gap: 20px;
  }

  .profileBar li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: auto;
    height: auto;
  }

  .profileBar ul button {
    width: 80%;
    font-size: 1.5rem;
  }

  .profileView {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background: linear-gradient(
      300deg,
      #f79023,
      #a80303,
      #6d0101,
      #ea690d,
      #f7c46d
    );
    background-size: 300% 300%;
    animation: gradient-animation 15s ease infinite;
  }

  .profileHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    color: #ffb20c;
    background: linear-gradient(300deg, deepskyblue, darkviolet, blue);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    border: 4px solid #ffb20c;
    border-radius: 30px;
    gap: 30px;
    padding: 25px;
    margin: auto;
  }

  .avatar {
    border: 4px solid #ffb20c;
    background-color: black;
    width: auto;
    height: auto;
    border-radius: 50%;
  }

  .avatar img {
    width: 25rem;
    height: 25rem;
    object-fit: fill;
  }

  .profileHeader p {
    border: 4px solid #ffb20c;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin: 0;
    background-color: black;
  }
}

/* VERSION DESKTOP */
@media (min-width: 1025px) and (max-width: 1440px) {
  .profilePage {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 90vh;
    overflow-x: auto;
  }

  .profileBar {
    border-right: 4px solid #ffb20c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 30%;
    height: auto;
  }

  .profileBar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0;
    gap: 20px;
  }

  .profileBar li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: auto;
    height: auto;
  }

  .profileBar ul button {
    width: 80%;
    font-size: 1.5rem;
  }

  .profileView {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background: linear-gradient(
      300deg,
      #f79023,
      #a80303,
      #6d0101,
      #ea690d,
      #f7c46d
    );
    background-size: 300% 300%;
    animation: gradient-animation 15s ease infinite;
  }

  .profileHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    color: #ffb20c;
    background: linear-gradient(300deg, deepskyblue, darkviolet, blue);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    border: 4px solid #ffb20c;
    border-radius: 30px;
    gap: 30px;
    padding: 25px;
    margin: auto;
  }

  .avatar {
    border: 4px solid #ffb20c;
    background-color: black;
    width: auto;
    height: auto;
    border-radius: 50%;
  }

  .avatar img {
    width: 15rem;
    height: 15rem;
    object-fit: fill;
  }

  .profileHeader p {
    border: 4px solid #ffb20c;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin: 0;
    background-color: black;
  }
}

/* VERSION TABLET */
@media (min-width: 601px) and (max-width: 1024px) {
  .profilePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 100%;
    color: #ffb20c;
  }

  .noUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 4px solid #ffb20c;
    text-align: center;
    background-color: black;
    color: #ffb20c;
    padding: 10px;
  }

  .profileBar {
    display: flex;
    flex-direction: column !important;
    width: auto;
    height: auto;
    padding: 10px 5px;
    background-color: black;
    border-bottom: 4px solid #ffb20c;
  }

  .profileBar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    list-style-type: none;
  }

  .profileBar li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .profileBar button {
    border: 2px solid #ffb20c;
    border-radius: 10px;
    background-color: black;
    color: #ffb20c;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .logOut {
    width: auto;
    margin: 0 auto;
  }

  .profileBar button:active {
    background-color: #ffb20c;
    color: black;
    transform: scale(1.1);
  }

  .adminButton a {
    text-decoration: none;
    color: #ffb20c;
    transition: 0.5s ease;
  }

  .adminButton:active {
    background-color: #ffb20c;
    color: black;
    transform: scale(1.1);
  }

  .adminButton a:active {
    color: black;
  }

  .profileView {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    width: auto;
    height: 70vh;
    background: linear-gradient(300deg, deepskyblue, darkviolet, blue);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .profileHeader {
    border: 4px solid #ffb20c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    gap: 15px;
    margin: auto;
    background: linear-gradient(
      300deg,
      #f79023,
      #a80303,
      #6d0101,
      #ea690d,
      #f7c46d
    );
    background-size: 300% 300%;
    animation: gradient-animation 15s ease infinite;
  }

  .profileHeader p {
    border: 4px solid #ffb20c;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    background-color: black;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffb20c;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    background-color: black;
  }

  .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
  }

  .avatar svg {
    font-size: 80px;
  }

  .profileBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
  }

  .profileBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 0 5px;
    list-style-type: none;
    margin: 10px 0;
  }
}

/* VERSION PHONE */
@media (max-width: 600px) {
  .profilePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 100%;
    color: #ffb20c;
  }

  .noUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 4px solid #ffb20c;
    text-align: center;
    background-color: black;
    color: #ffb20c;
    padding: 10px;
  }

  .profileBar {
    display: flex;
    flex-direction: column !important;
    width: auto;
    height: auto;
    padding: 5px 5px;
    background-color: black;
    border-bottom: 4px solid #ffb20c;
  }

  .profileBar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    list-style-type: none;
  }

  .profileBar li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .profileBar button {
    border: 2px solid #ffb20c;
    border-radius: 10px;
    background-color: black;
    color: #ffb20c;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .profileBar button:active {
    background-color: #ffb20c;
    color: black;
    transform: scale(1.1);
  }

  .adminButton a {
    text-decoration: none;
    color: #ffb20c;
    transition: 0.5s ease;
  }

  .adminButton:active {
    background-color: #ffb20c;
    color: black;
    transform: scale(1.1);
  }

  .adminButton a:active {
    color: black;
  }

  .profileView {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    width: auto;
    height: 55vh;
    background: linear-gradient(300deg, deepskyblue, darkviolet, blue);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .profileHeader {
    border: 4px solid #ffb20c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    gap: 15px;
    margin: auto;
    background: linear-gradient(
      300deg,
      #f79023,
      #a80303,
      #6d0101,
      #ea690d,
      #f7c46d
    );
    background-size: 300% 300%;
    animation: gradient-animation 15s ease infinite;
  }

  .profileHeader p {
    border: 2px solid #ffb20c;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    font-size: 22px;
    background-color: black;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffb20c;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    background-color: black;
  }

  .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
  }

  .avatar svg {
    font-size: 80px;
  }

  .profileBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
  }

  .profileBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 0 5px;
    list-style-type: none;
    margin: 10px 0;
  }
}
