/* VERSION PC */
@media screen and (min-width: 1441px) {
  .episodesContainer button {
    border: 4px solid #ffb20c;
    background-color: black;
    color: #ffb20c;
    padding: 10px;
    font-size: 20px;
    transition: 0.5s ease;
  }

  .episodesContainer button:hover {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }

  .modal {
    padding: 0 !important;
  }
  .modal-dialog {
    max-width: 70% !important;
    border: 4px solid #ffb20c;
  }

  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px !important;
    background-color: black;
    color: #ffb20c;
    border-bottom: 4px solid #ffb20c !important;
  }

  .modal-header button {
    border: 4px solid #ffb20c;
    background-color: black;
    color: #ffb20c;
    padding: 10px;
    font-size: 25px;
    transition: 0.5s ease;
  }

  .modal-header button:hover {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }

  .modal-body {
    padding: 10px !important;
    background-color: black;
    color: #ffb20c;
  }

  .modal-body ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    gap: 10px;
  }

  .episodeCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }

  .episodeCard li {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .episodeCard img {
    width: 25rem;
    height: 15rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .episodeDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .episodeDetails h3 {
    margin: 0;
  }

  .episodeDetails p {
    margin: 0;
    font-size: 20px;
  }

  .episodeSynopsis {
    width: 100%;
    height: 7rem;
    overflow-y: auto;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .episodeSynopsis p {
    margin: 0;
    text-align: justify;
    font-size: 20px !important;
  }

  .modal-body p {
    margin: 0;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .episodesContainer button {
    border: 4px solid #ffb20c;
    background-color: black;
    color: #ffb20c;
    padding: 10px;
    font-size: 20px;
    transition: 0.5s ease;
  }

  .episodesContainer button:hover {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }

  .modal {
    padding: 0 !important;
  }

  .modal-dialog {
    max-width: 70% !important;
    border: 4px solid #ffb20c;
  }

  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px !important;
    background-color: black;
    color: #ffb20c;
    border-bottom: 4px solid #ffb20c !important;
  }

  .modal-header button {
    border: 4px solid #ffb20c;
    background-color: black;
    color: #ffb20c;
    padding: 10px;
    font-size: 25px;
    transition: 0.5s ease;
  }

  .modal-header button:hover {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }

  .modal-body {
    padding: 10px !important;
    background-color: black;
    color: #ffb20c;
  }

  .modal-body ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    gap: 10px;
  }

  .episodeCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }

  .episodeCard li {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .episodeCard img {
    width: 23rem;
    height: 12rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .episodeDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .episodeDetails h3 {
    margin: 0;
    font-size: 20px;
  }

  .episodeDetails p {
    margin: 0;
    font-size: 15px;
  }

  .episodeSynopsis {
    width: 100%;
    height: 7rem;
    overflow-y: auto;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .episodeSynopsis p {
    margin: 0;
    text-align: justify;
    font-size: 15px !important;
  }

  .modal-body p {
    margin: 0;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .episodesContainer button {
    border: 4px solid #ffb20c;
    background-color: black;
    color: #ffb20c;
    padding: 10px;
    font-size: 20px;
    transition: 0.5s ease;
  }

  .episodesContainer button:active {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }
  .modal {
    padding: 0 !important;
  }
  .modal-dialog {
    max-width: 80% !important;
    height: auto;
    overflow-y: auto;
    border: 4px solid #ffb20c;
  }

  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: #ffb20c;
    border-bottom: 4px solid #ffb20c !important;
  }

  .modal-header button {
    border: 4px solid #ffb20c;
    background-color: black;
    color: #ffb20c;
    padding: 10px;
    font-size: 25px;
    transition: 0.5s ease;
  }

  .modal-header button:active {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }

  .modal-body {
    padding: 5px !important;
    background-color: black;
    color: #ffb20c;
  }

  .modal-body ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 15px;
  }

  .episodeCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }

  .episodeCard li {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 20%;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .episodeCard img {
    width: 90%;
    height: 18rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    margin: auto;
  }

  .episodeDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .episodeDetails h3 {
    margin: 0;
    font-size: 20px;
  }

  .episodeSynopsis {
    width: 100%;
    height: 5rem;
    overflow-y: auto;
    border: 4px solid #ffb20c;
    padding: 5px;
    font-size: 15px;
  }

  .episodeSynopsis::-webkit-scrollbar {
    border: 4px solid black;
    background-color: #ffb20c;
    width: 15px;
  }

  .episodeSynopsis::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 6px;
    border: 3px solid #ffb20c;
  }

  .episodeSynopsis::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 6px;
    border: 3px solid black;
  }

  .modal-body p {
    margin: 0;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .episodesContainer button {
    border: 4px solid #ffb20c;
    background-color: black;
    color: #ffb20c;
    padding: 10px;
    font-size: 15px;
    transition: 0.5s ease;
  }

  .episodesContainer button:active {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }

  .modal {
    padding: 0 !important;
  }
  .modal-dialog {
    max-width: auto !important;
    height: auto;
    overflow-y: auto;
    border: 4px solid #ffb20c;
  }

  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px !important;
    background-color: black;
    color: #ffb20c;
    border-bottom: 4px solid #ffb20c !important;
  }

  .modal-header button {
    border: 4px solid #ffb20c;
    background-color: black;
    color: #ffb20c;
    padding: 5px;
    font-size: 15px;
    transition: 0.5s ease;
  }

  .modal-header button:active {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }

  .modal-body {
    padding: 10px !important;
    background-color: black;
    color: #ffb20c;
  }

  .modal-body ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    gap: 10px;
  }

  .episodeCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }

  .episodeCard li {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 20%;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .episodeCard img {
    width: 90%;
    height: 10rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    margin: auto;
  }

  .episodeDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .episodeDetails h3 {
    margin: 0;
    font-size: 16px;
  }

  .episodeSynopsis {
    width: 100%;
    height: 5rem;
    overflow-y: auto;
    border: 4px solid #ffb20c;
    padding: 5px;
    font-size: 13px;
  }

  .episodeSynopsis::-webkit-scrollbar {
    border: 4px solid black;
    background-color: #ffb20c;
    width: 15px;
  }

  .episodeSynopsis::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 6px;
    border: 3px solid #ffb20c;
  }

  .episodeSynopsis::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 6px;
    border: 3px solid black;
  }

  .modal-body p {
    margin: 0;
  }
}
