/* VERSION PC */
@media (min-width: 1441px) {
  .reset-password-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("../../../assets/EigaKunBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .resetTop {
    border: 5px solid #ffb20c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    gap: 10px;
    font-size: 25px;
    text-align: center;
    background-color: black;
    color: #ffb20c;
    padding: 20px;
  }

  .resetTop img {
    width: 35%;
  }

  .reset-password-form {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: auto;
    border: 4px solid #ffb20c;
    background-color: black;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .reset-password-form input {
    width: 30rem;
    height: 2rem;
    text-align: center;
    padding: 20px;
    border: 4px solid #ffb20c;
    border-radius: 10px;
    font-size: 20px;
  }

  .reset-password-form input::placeholder {
    color: black;
    opacity: 0.8;
  }

  .reset-password-form button {
    width: 25rem;
    height: 3rem;
    text-align: center;
    border: 4px solid #ffb20c;
    border-radius: 10px;
    color: #ffb20c;
    font-size: 20px;
    background-color: black;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .reset-password-form button:hover {
    background-color: #ffb20c;
    color: black;
    scale: 1.1;
  }
}

/* VERSION DESKTOP */
@media (min-width: 1024px) and (max-width: 1440px) {
  .reset-password-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../../assets/EigaKunBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .resetTop {
    border: 5px solid #ffb20c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    gap: 10px;
    font-size: 20px;
    text-align: center;
    background-color: black;
    color: #ffb20c;
    padding: 10px;
  }

  .resetTop img {
    width: 35%;
  }

  .reset-password-form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border: 4px solid #ffb20c;
    background-color: black;
    padding: 15px;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .reset-password-form input {
    width: 30rem;
    height: 10px;
    text-align: center;
    padding: 20px;
    border: 4px solid #ffb20c;
    border-radius: 10px;
    font-size: 20px;
  }

  .reset-password-form input::placeholder {
    color: black;
    opacity: 0.8;
  }

  .reset-password-form button {
    width: 25rem;
    height: 3rem;
    text-align: center;
    border: 4px solid #ffb20c;
    border-radius: 10px;
    color: #ffb20c;
    font-size: 20px;
    background-color: black;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .reset-password-form button:hover {
    background-color: #ffb20c;
    color: black;
    scale: 1.1;
  }

}

/* VERSION TABLET */
@media (min-width: 601px) and (max-width: 1023px) {
  .reset-password-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #ffb20c;
    gap: 50px;
    width: auto;
    height: 100vh;
  }

  .resetTop {
    border: 4px solid #ffb20c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffb20c;
    background-color: black;
    padding: 5px;
    font-size: 20px;
    gap: 10px;
  }

  .resetTop img {
    width: 400px;
  }

  .reset-password-page form {
    border: 4px solid #ffb20c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    color: #ffb20c;
    padding: 10px;
    gap: 10px;
    font-size: 20px;
    background-color: black;
  }

  .reset-password-page input {
    width: 300px;
    height: 100%;
    text-align: center;
    padding: 10px;
    border: 4px solid #ffb20c;
    border-radius: 10px;
    font-size: 15px;
  }

  .reset-password-page button {
    border: 4px solid #ffb20c;
    border-radius: 10px;
    color: #ffb20c;
    font-size: 15px;
    padding: 10px;
    background-color: black;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .reset-password-page button:active {
    background-color: #ffb20c;
    color: black;
    scale: 1.1;
  }
}
/* VERSION MOBILE */
@media (max-width: 600px) {
  .reset-password-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #ffb20c;
    gap: 50px;
    width: auto;
    height: 100vh;
    padding: 0;
  }

  .resetTop {
    border: 4px solid #ffb20c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffb20c;
    background-color: black;
    padding: 5px;
    font-size: 16px;
    gap: 10px;
  }

  .resetTop img {
    width: 300px;
  }

  .reset-password-page form {
    border: 4px solid #ffb20c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    color: #ffb20c;
    padding: 10px;
    gap: 10px;
    font-size: 20px;
    background-color: black;
  }

  .reset-password-page input {
    width: 300px;
    height: 100%;
    text-align: center;
    padding: 5px;
    border: 4px solid #ffb20c;
    border-radius: 10px;
    font-size: 15px;
  }

  .reset-password-page button {
    border: 4px solid #ffb20c;
    border-radius: 10px;
    color: #ffb20c;
    font-size: 15px;
    padding: 10px;
    background-color: black;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .reset-password-page button:active {
    background-color: #ffb20c;
    color: black;
    scale: 1.1;
  }

}
