/* VERSION PC */
@media screen and (min-width: 1441px) {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow-y: auto;
    gap: 20px;
  }

  form label {
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: 25px;
    gap: 10px;
  }

  .editMovieFormTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormTop div {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: auto;
    height: auto;
    gap: 20px;
  }

  .editMovieFormTop button {
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 25px;
  }

  .editMovieFormTop p {
    margin: 0;
    font-size: 1.2rem;
  }

  .editMovieFormTop input {
    width: 25rem;
    border: 4px solid #ffb20c;
  }

  .editMovieFormContent {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .editMovieFormLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: auto;
    gap: 30px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormLeft p {
    margin: 0;
    font-size: 1.2rem;
  }

  .editMovieFormLeft div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .editMovieFormLeft label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .editMovieFormLeft input {
    width: 100%;
    height: auto;
    font-size: 1rem;
    border: 4px solid #ffb20c;
  }

  .editMoviePoster {
    width: 18rem;
    height: 25rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .editMovieBackground {
    width: 18rem;
    height: 15rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .editMovieFormRight {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormRight div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .editMovieFormRight label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .editMovieLogo {
    width: 100%;
    height: 10rem;
    object-fit: contain;
    padding: 15px;
    border: 4px solid #ffb20c;
  }

  .editMovieLogoHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 35px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormRight input {
    width: 100%;
    height: auto;
    font-size: 1rem;
    border: 4px solid #ffb20c;
  }

  .editMovieInfos {
    display: grid !important;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: auto;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieInfos p {
    margin: 0;
    font-size: 1.1rem;
  }

  .editMovieSynopsisTrailer {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieSynopsisTrailer label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .editMovieSynopsisTrailer p {
    margin: 0;
    font-size: 1.1rem;
  }

  .editMovieSynopsisTrailer textarea {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    text-align: justify;
    border: 4px solid #ffb20c;
  }

  .editMovieSynopsisTrailer iframe {
    width: 100%;
    height: 100%;
    border: 4px solid #ffb20c;
  }

  .editMovieCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
  }

  .editMovieCasting h3 {
    margin: 0;
    text-align: center;
  }

  .editMovieCastingSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieCastingSection h3 {
    margin: 0;
  }

  .addMemberCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addMemberCasting p {
    margin: 0;
  }

  .editMovieCastingList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .editMovieCastingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 20px;
    padding: 10px;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .editMovieCastingCard img {
    width: 15rem;
    height: 20rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
  }

  .editMovieCastingCard p {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    border: 4px solid #ffb20c;
  }

  .editMovieCastingCard label {
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  .editMovieCastingCard button {
    width: 100%;
    font-size: 20px;
    padding: 5px;
  }
}
/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow-y: auto;
    gap: 20px;
  }

  form label {
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: 25px;
    gap: 10px;
  }

  .editMovieFormTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormTop div {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: auto;
    height: auto;
    gap: 20px;
  }

  .editMovieFormTop button {
    width: auto;
    height: 50%;
    padding: 5px;
    font-size: 18px;
  }

  .editMovieFormTop p {
    margin: 0;
    font-size: 1.2rem;
  }

  .editMovieFormTop input {
    width: 20rem;
    border: 4px solid #ffb20c;
  }

  .editMovieFormContent {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .editMovieFormLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: auto;
    gap: 30px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormLeft p {
    margin: 0;
    font-size: 1.2rem;
  }

  .editMovieFormLeft div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .editMovieFormLeft label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .editMovieFormLeft input {
    width: 100%;
    height: auto;
    font-size: 1rem;
    border: 4px solid #ffb20c;
  }

  .editMoviePoster {
    width: 13rem;
    height: 20rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .editMovieBackground {
    width: 13rem;
    height: 12rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .editMovieFormRight {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormRight div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .editMovieFormRight label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .editMovieLogo {
    width: 100%;
    height: 10rem;
    object-fit: contain;
    padding: 15px;
    border: 4px solid #ffb20c;
  }

  .editMovieLogoHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 35px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormRight input {
    width: 100%;
    height: auto;
    font-size: 1rem;
    border: 4px solid #ffb20c;
  }

  .editMovieInfos {
    display: grid !important;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: auto;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieInfos p {
    margin: 0;
    font-size: 1.1rem;
  }

  .editMovieSynopsisTrailer {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieSynopsisTrailer label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .editMovieSynopsisTrailer p {
    margin: 0;
    font-size: 1.1rem;
  }

  .editMovieSynopsisTrailer textarea {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    text-align: justify;
    border: 4px solid #ffb20c;
  }

  .editMovieSynopsisTrailer iframe {
    width: 100%;
    height: 100%;
    border: 4px solid #ffb20c;
  }

  .editMovieCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
  }

  .editMovieCasting h3 {
    margin: 0;
    text-align: center;
  }

  .editMovieCastingSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieCastingSection h3 {
    margin: 0;
  }

  .addMemberCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addMemberCasting p {
    margin: 0;
    font-size: 20px;
  }

  .addMemberCasting select {
    font-size: 18px;
  }

  .addMemberCasting input {
    font-size: 18px;
  }

  .addMemberCasting button {
    font-size: 22px;
    padding: 5px;
  }

  .editMovieCastingList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .editMovieCastingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 20px;
    padding: 10px;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .editMovieCastingCard img {
    width: 14rem;
    height: 21rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
  }

  .editMovieCastingCard p {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    border: 4px solid #ffb20c;
  }

  .editMovieCastingCard label {
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  .editMovieCastingCard button {
    width: 100%;
    font-size: 20px;
    padding: 5px;
  }
}
/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
  }

  form label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  .editMovieFormTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: auto;
    gap: 10px;
  }

  .editMovieFormTop div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .editMovieFormTop p {
    margin: 0;
    font-size: 1.5rem;
  }

  .editMovieFormTop input {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    border: 4px solid #ffb20c;
  }

  .editMovieFormTop div button {
    width: 100%;
    height: auto;
    font-size: 18px;
    color: #ffb20c;
    padding: 5px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .editMovieFormContent {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
  }

  .editMovieFormLeft {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormLeft p {
    margin: 0;
    font-size: 1.5rem;
  }

  .editMovieFormLeft div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormLeft label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .editMovieFormLeft input {
    width: 100%;
    height: auto;
    font-size: 15px;
    border: 4px solid #ffb20c;
  }

  .editMoviePoster {
    width: 13rem;
    height: 19rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .editMovieBackground {
    width: 22rem;
    height: 15rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .editMovieFormRight {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  .editMovieFormRight div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .editMovieFormRight label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .editMovieFormRight input {
    width: 100%;
    height: auto;
    font-size: 15px;
    border: 4px solid #ffb20c;
  }

  .editMovieLogo {
    width: 100%;
    height: 12rem;
    object-fit: contain;
    padding: 15px;
    border: 4px solid #ffb20c;
  }

  .editMovieLogoHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin: 0;
    border: 4px solid #ffb20c;
  }

  .editMovieLogoHolder p {
    margin: 0;
    font-size: 25px;
  }

  .editMovieInfos {
    display: grid !important;
    grid-template-columns: 50% auto;
    width: 100%;
    height: auto;
    padding: 5px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieInfos label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .editMovieInfos p {
    margin: 0;
    font-size: 21px;
    text-align: center;
  }

  .editMovieInfos input {
    width: 100%;
    height: auto;
    font-size: 18px;
    border: 4px solid #ffb20c;
  }

  .editMovieSynopsisTrailer {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
    gap: 5px;
  }

  .editMovieSynopsisTrailer label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  .editMovieSynopsisTrailer p {
    margin: 0;
    font-size: 25px;
    text-align: center;
  }

  .editMovieSynopsisTrailer textarea {
    width: 100%;
    height: 12rem;
    padding: 5px;
    text-align: justify;
    border: 4px solid #ffb20c;
  }

  .editMovieSynopsisTrailer iframe {
    width: 100%;
    height: 20rem;
    border: 4px solid #ffb20c;
  }

  .editMovieSynopsisTrailer input {
    font-size: 18px;
  }

  .editMovieCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .editMovieCasting h3 {
    margin: 0;
    text-align: center;
    font-size: 30px;
  }

  .editMovieCastingSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieCastingSection p {
    margin: 0;
    font-size: 20px;
  }

  .editMovieCastingSection h4 {
    margin: 0;
    font-size: 30px;
  }

  .editMovieCastingList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .addMemberCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 5px;
    gap: 20px;
    border: 4px solid #ffb20c;
  }

  .addMemberCasting p {
    margin: 0;
    font-size: 22px;
  }

  .addMemberCasting label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .addMemberCasting select {
    font-size: 22px;
  }

  .addMemberCasting input {
    font-size: 22px;
  }

  .addMemberCasting button {
    width: 100%;
    background-color: black;
    color: #ffb20c;
    font-size: 20px;
    padding: 5px;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .addMemberCasting button:active {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }

  .editMovieCastingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 20px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieCastingCard img {
    width: 14rem;
    height: 19rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
  }

  .editMovieCastingCard p {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    border: 4px solid #ffb20c;
  }

  .editMovieCastingCard button {
    width: 100%;
    background-color: black;
    color: #ffb20c;
    font-size: 1.1rem;
    padding: 5px;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .editMovieCastingCard button:active {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }
}
/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
  }

  form label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  .editMovieFormTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: auto;
    gap: 10px;
  }

  .editMovieFormTop div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .editMovieFormTop p {
    margin: 0;
    font-size: 1.2rem;
  }

  .editMovieFormTop input {
    width: 100%;
    text-align: center;
    border: 4px solid #ffb20c;
  }

  .editMovieFormTop div button {
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #ffb20c;
    padding: 5px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .editMovieFormContent {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
  }

  .editMovieFormLeft {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormLeft p {
    margin: 0;
    font-size: 1rem;
  }

  .editMovieFormLeft div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieFormLeft label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .editMovieFormLeft input {
    width: 100%;
    height: auto;
    font-size: 13px;
    border: 4px solid #ffb20c;
  }

  .editMoviePoster {
    width: 12rem;
    height: 17rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .editMovieBackground {
    width: 15rem;
    height: 10rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .editMovieFormRight {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  .editMovieFormRight div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .editMovieFormRight label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .editMovieFormRight input {
    width: 100%;
    height: auto;
    font-size: 13px;
    border: 4px solid #ffb20c;
  }

  .editMovieLogo {
    width: 100%;
    height: 10rem;
    object-fit: contain;
    padding: 15px;
    border: 4px solid #ffb20c;
  }

  .editMovieLogoHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin: 0;
    border: 4px solid #ffb20c;
  }

  .editMovieLogoHolder p {
    margin: 0;
    font-size: 18px;
  }

  .editMovieInfos {
    display: grid !important;
    grid-template-columns: 50% auto;
    width: 100%;
    height: auto;
    padding: 5px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieInfos label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .editMovieInfos p {
    margin: 0;
    font-size: 15px;
  }

  .editMovieInfos input {
    width: 100%;
    height: auto;
    font-size: 14px;
    border: 4px solid #ffb20c;
  }

  .editMovieSynopsisTrailer {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
    gap: 5px;
  }

  .editMovieSynopsisTrailer label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    font-size: 15px;
  }

  .editMovieSynopsisTrailer p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }

  .editMovieSynopsisTrailer textarea {
    width: 100%;
    height: 10rem;
    padding: 5px;
    font-size: 14px;
    text-align: justify;
    border: 4px solid #ffb20c;
  }

  .editMovieSynopsisTrailer iframe {
    width: 100%;
    height: 100%;
    border: 4px solid #ffb20c;
  }

  .editMovieCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .editMovieCasting h3 {
    margin: 0;
    text-align: center;
  }

  .editMovieCastingSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieCastingSection h4 {
    margin: 0;
  }

  .editMovieCastingList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .editMovieCastingList p {
    margin: 0;
    text-align: center;
  }

  .addMemberCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 5px;
    gap: 20px;
    border: 4px solid #ffb20c;
  }

  .addMemberCasting p {
    margin: 0;
    font-size: 1.2rem;
  }

  .addMemberCasting label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .addMemberCasting button {
    width: 100%;
    background-color: black;
    color: #ffb20c;
    font-size: 20px;
    padding: 5px;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .addMemberCasting button:active {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }

  .editMovieCastingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .editMovieCastingCard img {
    width: 12rem;
    height: 18rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
  }

  .editMovieCastingCard p {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    border: 4px solid #ffb20c;
  }

  .editMovieCastingCard button {
    width: 100%;
    background-color: black;
    color: #ffb20c;
    font-size: 1.1rem;
    padding: 5px;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .editMovieCastingCard button:active {
    border: 4px solid black;
    background-color: #ffb20c;
    color: black;
  }
}
