/* VERSION PC */
@media screen and (min-width: 1441px) {
  .oneMoviePage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
  }

  .oneMovieHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: auto;
    position: relative;
    color: #ffb20c;
    border-bottom: 4px solid #ffb20c;
  }

  .oneMovieBackground {
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
    right: 0;
    z-index: 1;
  }

  .oneMovieHeaderContent {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
    z-index: 2;
    background: linear-gradient(to right, black 50%, transparent 80%);
  }

  .oneMovieHeaderContentLeft {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    gap: 10px;
  }

  .oneMoviePoster {
    width: auto;
    height: 35rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .oneMoviePosterPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 35rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMoviePosterPlaceholder img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 10px;
  }

  .oneMoviePosterPlaceholder p {
    margin: 0;
    font-size: 20px;
  }

  .oneMovieHeaderContentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: auto;
  }

  .oneMovieLogo {
    width: 40%;
    height: 10rem;
    object-fit: contain;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMovieHeaderContentRight h4 {
    margin: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMovieDetails {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 10rem;
    gap: 10px;
  }

  .oneMovieInfos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 50%;
    height: auto;
    gap: 5px;
    padding: 5px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneMovieInfos::-webkit-scrollbar {
    border: 4px solid black;
    background-color: #ffb20c;
    width: auto;
  }

  .oneMovieInfos::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 6px;
    border: 3px solid #ffb20c;
  }

  .oneMovieInfos::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 6px;
    border: 3px solid black;
  }

  .oneMovieInfos p {
    margin: 0;
    text-align: center;
    font-size: 15px;
    border: 4px solid #ffb20c;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneMovieSynopsis {
    display: flex;
    width: 50%;
    height: auto;
    text-align: justify;
    overflow-y: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneMovieSynopsis::-webkit-scrollbar {
    border: 4px solid black;
    background-color: #ffb20c;
    width: auto;
  }

  .oneMovieSynopsis::-webkit-scrollbar-track {
    background: black;
    border-radius: 6px;
    border: 3px solid #ffb20c;
  }

  .oneMovieSynopsis::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 6px;
    border: 3px solid black;
  }

  .castingSection h3 {
    text-align: center;
    margin: 20px 0;
    border: 4px solid #ffb20c;
    color: #ffb20c;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
  }

  .reviewsAndTrailer {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 20px;
  }

  .reviews h4,
  .trailer h4 {
    background-color: black;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    padding: 10px;
    font-size: 25px;
    margin: 0;
  }

  .reviews,
  .trailer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    align-items: center;
    gap: 30px;
  }

  .trailer iframe {
    border: 4px solid #ffb20c;
    width: 80%;
    height: 20rem;
    background: black;
  }
}
/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .oneMoviePage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    overflow-y: auto;
  }

  .oneMovieHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: auto;
    position: relative;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    border-top: none;
  }

  .oneMovieBackground {
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
    right: 0;
    z-index: 1;
  }

  .oneMovieHeaderContent {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    gap: 10px;
    padding: 10px;
    z-index: 2;
    background: linear-gradient(to right, black 50%, transparent 80%);
  }

  .oneMovieHeaderContentLeft {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    gap: 10px;
  }

  .oneMoviePoster {
    width: auto;
    height: 30rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .oneMoviePosterPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 30rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMoviePosterPlaceholder img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 10px;
  }

  .oneMoviePosterPlaceholder p {
    margin: 0;
    font-size: 20px;
  }

  .oneMovieHeaderContentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: auto;
  }

  .oneMovieLogo {
    width: 50%;
    height: 10rem;
    object-fit: contain;
    border: 4px solid #ffb20c;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneMovieHeaderContentRight h4 {
    margin: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border: 4px solid #ffb20c;
  }

  .oneMovieDetails {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 10rem;
    gap: 5px;
  }

  .oneMovieInfos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 50%;
    height: auto;
    gap: 5px;
    padding: 5px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneMovieInfos::-webkit-scrollbar {
    border: 4px solid black;
    background-color: #ffb20c;
    width: auto;
  }

  .oneMovieInfos::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 6px;
    border: 3px solid #ffb20c;
  }

  .oneMovieInfos::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 6px;
    border: 3px solid black;
  }

  .oneMovieInfos p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    border: 4px solid #ffb20c;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneMovieSynopsis {
    border: 4px solid #ffb20c;
    width: 50%;
    height: auto;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 15px;
    overflow-y: auto;
  }

  .oneMovieSynopsis p {
    margin: 0;
  }

  .oneMovieSynopsis::-webkit-scrollbar {
    border: 4px solid black;
    background-color: #ffb20c;
    width: auto;
  }

  .oneMovieSynopsis::-webkit-scrollbar-track {
    background: black;
    border-radius: 6px;
    border: 3px solid #ffb20c;
  }

  .oneMovieSynopsis::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 6px;
    border: 3px solid black;
  }

  .movieReviewsAndTrailer {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 20px;
  }

  .movieReviews h4,
  .movieTrailer h4 {
    background-color: black;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    padding: 10px;
    font-size: 25px;
    margin: 0;
  }

  .movieReviews,
  .movieTrailer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    align-items: center;
    gap: 30px;
  }

  .movieTrailer iframe {
    border: 4px solid #ffb20c;
    width: 80%;
    height: 20rem;
  }
}
/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .oneMoviePage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding-bottom: 15%;
    border-bottom: 4px solid #ffb20c;
  }

  .oneMovieHeader {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: #ffb20c;
  }

  .oneMovieBackground {
    width: auto;
    height: 15%;
    border: 4px solid #ffb20c;
    border-bottom: none;
  }

  .oneMovieHeaderContent {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneMovieHeaderContentLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneMoviePoster {
    width: 19rem;
    height: 27rem;
    object-fit: fill;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMoviePosterPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 19rem;
    height: 27rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMoviePosterPlaceholder img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 10px;
  }

  .oneMoviePosterPlaceholder p {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }

  .oneMovieHeaderContentRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneMovieLogo {
    width: 100%;
    height: 8rem;
    object-fit: contain;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneMovieHeaderContentRight h4 {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMovieDetails {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneMovieInfos {
    border: 4px solid #ffb20c;
    display: grid;
    grid-template-columns: auto auto auto;
    width: auto;
    height: auto;
    padding: 5px;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneMovieInfos p {
    margin: 0;
    text-align: center;
    font-size: 15px;
    border: 4px solid #ffb20c;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneMovieSynopsis {
    width: auto;
    height: 10rem;
    padding: 10px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneMovieSynopsis p {
    margin: 0;
    text-align: justify;
    font-size: 16px;
  }

  .castingSection,
  .seasonsSection {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
  }

  .castingSection h3,
  .seasonsSection h3 {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .movieReviewsAndTrailer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 5px;
  }

  .movieReviews h4,
  .movieTrailer h4 {
    background-color: black;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    padding: 10px;
    font-size: 20px;
    margin: 0;
  }

  .movieReviews,
  .movieTrailer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 10px;
  }

  .movieTrailer iframe {
    border: 4px solid #ffb20c;
    width: 100%;
    height: 15rem;
  }

  .oneMovieTrailerPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMovieTrailerPlaceholder svg {
    font-size: 2rem;
    color: #ffb20c;
  }

  .oneMovieTrailerPlaceholder p {
    margin: 0;
    color: #ffb20c;
    text-align: center;
    font-size: 15px;
  }
}
/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .oneMoviePage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding-bottom: 25%;
    border-bottom: 4px solid #ffb20c;
  }

  .oneMovieHeader {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: #ffb20c;
  }

  .oneMovieBackground {
    width: auto;
    height: 15%;
    border: 4px solid #ffb20c;
    border-bottom: none;
  }

  .oneMovieHeaderContent {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneMovieHeaderContentLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneMoviePoster {
    width: 13rem;
    height: 19rem;
    object-fit: fill;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMoviePosterPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 19rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMoviePosterPlaceholder p {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }

  .oneMoviePosterPlaceholder img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 10px;
  }

  .oneMovieHeaderContentRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneMovieLogo {
    width: 100%;
    height: 7rem;
    object-fit: contain;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneMovieHeaderContentRight h4 {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMovieDetails {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneMovieInfos {
    border: 4px solid #ffb20c;
    display: grid;
    grid-template-columns: auto auto auto;
    width: auto;
    height: auto;
    padding: 5px;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneMovieInfos p {
    margin: 0;
    text-align: center;
    font-size: 13px;
    border: 4px solid #ffb20c;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneMovieSynopsis {
    width: auto;
    height: 10rem;
    padding: 10px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneMovieSynopsis p {
    margin: 0;
    text-align: justify;
    font-size: 14px;
  }

  .castingSection,
  .seasonsSection {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
  }

  .castingSection h3,
  .seasonsSection h3 {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .movieReviewsAndTrailer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 0 5px;
  }

  .movieReviews h4,
  .movieTrailer h4 {
    background-color: black;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    padding: 10px;
    font-size: 15px;
    margin: 0;
  }

  .movieReviews,
  .movieTrailer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    gap: 10px;
  }

  .movieTrailer iframe {
    border: 4px solid #ffb20c;
    width: 100%;
    height: auto;
  }

  .oneMovieTrailerPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneMovieTrailerPlaceholder svg {
    font-size: 1.5rem;
    color: #ffb20c;
  }

  .oneMovieTrailerPlaceholder p {
    margin: 0;
    color: #ffb20c;
    text-align: center;
    font-size: 13px;
  }
}
