/* VERSION PC */
@media screen and (min-width: 1441px) {
  .onePersonalityPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    gap: 20px;
  }

  .onePersonalityHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffb20c;
    border: 4px solid #ffb20c;
    border-top: none;
    margin: 0;
    padding: 10px;
    gap: 10px;
  }

  .onePersonalityHeader p {
    margin: 0;
  }

  .onePersonalityPicture {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 18%;
    height: auto;
  }

  .onePersonalityPicture img {
    width: auto;
    height: 30rem;
    border: 4px solid #ffb20c;
  }

  .onePersonalityRightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82%;
    height: auto;
  }

  .onePersonalityRightSide h2 {
    margin: 0;
    padding: 15px;
    color: #ffb20c;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .onePersonalityInfos {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .onePersonalityBio {
    width: auto;
    height: 10rem;
    overflow-y: auto;
    padding: 10px;
    text-align: justify;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .filmography {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
  }

  .filmography h3 {
    margin: 0;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 15px;
  }

  .movieGraphy,
  .serieGraphy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .movieGraphy h4,
  .serieGraphy h4 {
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 15px;
  }

  .movieGraphyList,
  .serieGraphyList {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
    padding: 10px;
  }

  .movieGraphyList p,
  .serieGraphyList p {
    font-size: 20px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 25px;
    transition: 0.5s ease;
  }

  .movieGraphyCard a,
  .serieGraphyCard a {
    display: flex;
    flex-direction: column;
    width: 18rem;
    align-items: center;
    white-space: wrap;
    gap: 10px;
    text-decoration: none;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 10px;
    transition: 0.5s ease;
  }

  .movieGraphyCard img,
  .serieGraphyCard img {
    width: 18rem;
    height: 25rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
  }

  .movieGraphyCard p,
  .serieGraphyCard p {
    margin: 0;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    width: 100%;
    transition: 0.5s ease;
  }

  .movieGraphyCard:hover p,
  .serieGraphyCard:hover p {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}
/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .onePersonalityPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    gap: 20px;
  }

  .onePersonalityHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: 30rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffb20c;
    border: 4px solid #ffb20c;
    border-top: none;
    margin: 0;
    padding: 10px;
    gap: 10px;
  }

  .onePersonalityHeader p {
    margin: 0;
  }

  .onePersonalityPicture {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    gap: 10px;
  }

  .onePersonalityPicture img {
    width: auto;
    height: 100%;
    border: 4px solid #ffb20c;
  }

  .onePersonalityRightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: auto;
  }

  .onePersonalityRightSide h2 {
    margin: 0;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .onePersonalityInfos {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .onePersonalityBio {
    width: auto;
    height: 10rem;
    overflow-y: auto;
    padding: 10px;
    text-align: justify;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .filmography {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
  }

  .filmography h3 {
    margin: 0;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 10px;
  }

  .movieGraphy,
  .serieGraphy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .movieGraphy h4,
  .serieGraphy h4 {
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 10px;
  }

  .movieGraphyList,
  .serieGraphyList {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
    padding: 10px;
  }

  .movieGraphyList p,
  .serieGraphyList p {
    font-size: 20px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 22px;
    transition: 0.5s ease;
  }

  .movieGraphyCard a,
  .serieGraphyCard a {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: wrap;
    width: 18rem;
    height: auto;
    gap: 10px;
    padding: 10px;
    color: #ffb20c;
    text-decoration: none;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .movieGraphyCard img,
  .serieGraphyCard img {
    width: 15rem;
    height: 22rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
  }

  .movieGraphyCard p,
  .serieGraphyCard p {
    margin: 0;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    width: 100%;
  }

  .movieGraphyCard:hover p,
  .serieGraphyCard:hover p {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}
/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .onePersonalityPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
    padding-bottom: 15%;
  }

  .onePersonalityPage p {
    margin: 0;
  }

  .onePersonalityHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffb20c;
    border: 4px solid #ffb20c;
    border-top: none;
    margin: 0;
    padding: 10px;
    gap: 10px;
  }

  .onePersonalityPicture {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
  }

  .onePersonalityPicture img {
    width: 19rem;
    height: 27rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .onePersonalityRightSide {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: 100%;
    gap: 10px;
  }

  .onePersonalityRightSide h2 {
    margin: 0;
    padding: 10px;
    border: 4px solid #ffb20c;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .onePersonalityInfos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: auto;
    height: auto;
    gap: 15px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .onePersonalityBio {
    width: auto;
    height: 10rem;
    overflow-y: auto;
    text-align: justify;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .onePersonalityBio p {
    margin: 0;
    font-size: 18px;
  }

  .onePersonalityBio::-webkit-scrollbar {
    width: 5px;
    border: 4px solid #ffb20c;
  }

  .onePersonalityBio::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 5px;
  }

  .onePersonalityBio::-webkit-scrollbar-track {
    background-color: black;
  }

  .filmography {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    gap: 10px;
  }

  .filmography h3 {
    margin: 0;
    background-color: black;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    padding: 15px;
  }

  .movieGraphy,
  .serieGraphy {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    text-align: center;
  }

  .movieGraphy h4,
  .serieGraphy h4 {
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 15px;
    font-size: 25px;
  }

  .movieGraphyList p,
  .serieGraphyList p {
    font-size: 20px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 20px;
  }

  .movieGraphyList,
  .serieGraphyList {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    justify-content: flex-start;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .movieGraphyCard a,
  .serieGraphyCard a {
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100%;
    align-items: center;
    white-space: wrap;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .movieGraphyCard img,
  .serieGraphyCard img {
    width: 13rem;
    height: 19rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .movieGraphyCard p,
  .serieGraphyCard p {
    margin: 0;
    width: 100%;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    transition: 0.5s ease;
  }
}
/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .onePersonalityPage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding-bottom: 25%;
  }

  .onePersonalityPage p {
    margin: 0;
  }

  .onePersonalityHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffb20c;
    border: 4px solid #ffb20c;
    border-top: none;
    margin: 0;
    padding: 10px;
    gap: 10px;
  }

  .onePersonalityPicture {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
  }

  .onePersonalityPicture img {
    width: 13rem;
    height: 19rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .onePersonalityRightSide {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: 100%;
    gap: 10px;
  }

  .onePersonalityRightSide h2 {
    margin: 0;
    padding: 10px;
    border: 4px solid #ffb20c;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .onePersonalityInfos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: auto;
    height: auto;
    gap: 15px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .onePersonalityBio {
    width: auto;
    height: 10rem;
    overflow-y: auto;
    text-align: justify;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .onePersonalityBio p {
    margin: 0;
    font-size: 15px;
  }

  .onePersonalityBio::-webkit-scrollbar {
    width: 5px;
    border: 4px solid #ffb20c;
  }

  .onePersonalityBio::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 5px;
  }

  .onePersonalityBio::-webkit-scrollbar-track {
    background-color: black;
  }

  .filmography {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    gap: 10px;
  }

  .filmography h3 {
    margin: 0;
    background-color: black;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    padding: 10px;
  }

  .movieGraphy,
  .serieGraphy {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    text-align: center;
  }

  .movieGraphy h4,
  .serieGraphy h4 {
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 10px;
    font-size: 20px;
  }

  .movieGraphyList p,
  .serieGraphyList p {
    font-size: 20px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 20px;
  }

  .movieGraphyList,
  .serieGraphyList {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    justify-content: flex-start;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .movieGraphyCard a,
  .serieGraphyCard a {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100%;
    align-items: center;
    white-space: wrap;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .movieGraphyCard img,
  .serieGraphyCard img {
    width: 11rem;
    height: 17rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
  }

  .movieGraphyCard p,
  .serieGraphyCard p {
    margin: 0;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    transition: 0.5s ease;
  }

  .movieGraphyCard:active p,
  .serieGraphyCard:active p {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}
