/* VERSION PC */
@media screen and (min-width: 1441px) {
  .ratingReviewsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .ratingDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .ratingInfo {
    width: 30%;
    text-align: right;
    font-size: 20px;
  }

  .ratingReviewsContainer button {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 20px;
    color: #ffb20c;
    background-color: black;
    border: 2px solid #ffb20c;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .ratingReviewsContainer button:hover {
    background-color: #ffb20c;
    color: black;
    border: 2px solid black;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .ratingReviewsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .ratingDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .ratingInfo {
    width: 30%;
    text-align: right;
    font-size: 17px;
  }

  .ratingReviewsContainer button {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 18px;
    background-color: black;
    border: 2px solid #ffb20c;
    color: #ffb20c;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .ratingReviewsContainer button:hover {
    background-color: #ffb20c;
    color: black;
    border: 2px solid black;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .ratingReviewsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .ratingDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .ratingInfo {
    width: 30%;
    text-align: right;
    font-size: 30px;
  }

  .ratingReviewsContainer button {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 25px;
    color: #ffb20c;
    background-color: black;
    border: 2px solid #ffb20c;
    transition: 0.5s ease;
  }

  .ratingReviewsContainer button:active {
    background-color: #ffb20c;
    color: black;
    border: 2px solid black;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .ratingReviewsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .ratingDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .ratingInfo {
    width: 30%;
    text-align: right;
    font-size: 18px;
  }

  .ratingReviewsContainer button {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 18px;
    color: #ffb20c;
    background-color: black;
    border: 2px solid #ffb20c;
    transition: 0.5s ease;
  }

  .ratingReviewsContainer button:active {
    background-color: #ffb20c;
    color: black;
    border: 2px solid black;
  }
}
