/* VERSION PC */
@media screen and (min-width: 1441px) {
  .casting {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
    color: #ffb20c;
    text-align: center;
  }

  .cast {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .cast ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;
    overflow-x: auto;
    margin: 0;
    padding: 10px;
  }

  .cast a {
    display: flex;
    flex-direction: column;
    width: 18rem;
    align-items: center;
    white-space: wrap;
    gap: 10px;
    text-decoration: none;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 10px;
    transition: 0.5s ease;
  }

  .cast a:hover {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .cast a:hover h4 {
    color: black;
    border: 4px solid black;
  }

  .cast a:hover p {
    color: black;
    border: 4px solid black;
  }

  .cast img {
    width: 16rem;
    height: 23rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
    transition: 0.5s ease;
  }

  .cast a:hover img {
    border: 4px solid black;
  }

  .cast h3 {
    font-size: 30px !important;
    margin: 0 !important;
    padding: 10px !important;
  }

  .cast h4 {
    font-size: 25px;
    margin: 0;
    padding: 5px;
    width: 100%;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .cast p {
    margin: 0;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }
}
/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .casting {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    color: #ffb20c;
    text-align: center;
  }

  .cast {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .cast ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;
    overflow-x: auto;
    margin: 0;
    padding: 10px;
  }

  .cast a {
    display: flex;
    flex-direction: column;
    width: 18rem;
    align-items: center;
    white-space: wrap;
    gap: 10px;
    text-decoration: none;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 10px;
    transition: 0.5s ease;
  }

  .cast a:hover {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .cast a:hover h4 {
    color: black;
    border: 4px solid black;
  }

  .cast a:hover p {
    color: black;
    border: 4px solid black;
  }

  .cast img {
    width: 15rem;
    height: 22rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
    transition: 0.5s ease;
  }

  .cast a:hover img {
    border: 4px solid black;
  }

  .cast h3 {
    font-size: 30px !important;
    margin: 0 !important;
    padding: 10px !important;
  }

  .cast h4 {
    font-size: 20px;
    margin: 0;
    padding: 5px;
    width: 100%;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .cast p {
    margin: 0;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }
}
/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .casting {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
    color: #ffb20c;
    text-align: center;
  }

  .cast {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .cast ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;
    overflow-x: auto;
    margin: 0;
    padding: 10px;
  }

  .cast a {
    display: flex;
    flex-direction: column;
    width: 17rem;
    align-items: center;
    white-space: wrap;
    gap: 15px;
    text-decoration: none;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 15px;
    transition: 0.5s ease;
  }

  .cast a:hover {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .cast a:hover h4 {
    color: black;
    border: 4px solid black;
  }

  .cast a:hover p {
    color: black;
    border: 4px solid black;
  }

  .cast img {
    width: 12rem;
    height: 18rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
    transition: 0.5s ease;
  }

  .cast a:hover img {
    border: 4px solid black;
  }

  .cast h3 {
    font-size: 25px !important;
    margin: 0 !important;
    padding: 10px !important;
  }

  .cast h4 {
    font-size: 1.5rem;
    margin: 0;
    padding: 5px;
    width: 100%;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .cast p {
    margin: 0;
    padding: 10px;
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }
}
/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .casting {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    text-align: center;
    gap: 10px;
    color: #ffb20c;
  }

  .cast {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .cast ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;
    overflow-x: auto;
    margin: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .cast a {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100%;
    align-items: center;
    white-space: wrap;
    gap: 10px;
    text-decoration: none;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 10px;
    transition: 0.5s ease;
  }

  .cast a:active {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .cast a:active h4 {
    color: black;
    border: 4px solid black;
  }

  .cast a:active p {
    color: black;
    border: 4px solid black;
  }

  .cast img {
    width: 10rem;
    height: 15rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
    transition: 0.5s ease;
  }

  .cast a:active img {
    border: 4px solid black;
  }

  .cast h3 {
    font-size: 20px !important;
    margin: 0 !important;
    padding: 10px !important;
  }

  .cast h4 {
    font-size: 18px;
    margin: 0;
    padding: 5px;
    width: 100%;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .cast p {
    margin: 0;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }
}
