/* VERSION PC */
@media screen and (min-width: 1441px) {
  .resetPasswordPage {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    border: 4px solid #ffb20c;
  }

  .resetPasswordPageLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-right: 4px solid #ffb20c;
  }

  .resetPasswordPageLeft img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  .resetPasswordPageRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffb20c;
    padding: 10px;
  }

  .resetPasswordPageRight p,
  .resetPasswordPageRight h2 {
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 10px;
  }

  .resetPasswordPageRight form {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 10px;
    gap: 15px;
    margin: auto;
    width: 80%;
    height: auto;
  }

  .resetPasswordPageRight input {
    text-align: center;
  }

  .resetPasswordPageRight button {
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 10px;
    transition: 0.5s ease;
  }

  .resetPasswordPageRight button:hover {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .resetPasswordPage {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    border: 4px solid #ffb20c;
  }

  .resetPasswordPageLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-right: 4px solid #ffb20c;
  }

  .resetPasswordPageLeft img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  .resetPasswordPageRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 1.2rem;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffb20c;
    padding: 10px;
  }

  .resetPasswordPageRight h2 {
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 10px;
    margin: 0;
    font-size: 1.1rem;
  }

  .resetPasswordPageRight p {
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 10px;
    margin: 0;
    font-size: 1rem;
  }

  .resetPasswordPageRight form {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    padding: 10px;
    gap: 15px;
    margin: auto;
    width: 80%;
    height: auto;
  }

  .resetPasswordPageRight input {
    text-align: center;
  }

  .resetPasswordPageRight button {
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 10px;
    transition: 0.5s ease;
  }

  .resetPasswordPageRight button:hover {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .resetPasswordPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 4px solid #ffb20c;
    border-top: none;
  }

  .resetPasswordPageLeft {
    width: 100%;
    height: 30%;
    border-bottom: 4px solid #ffb20c;
  }

  .resetPasswordPageLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .resetPasswordPageRight {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    gap: 10px;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffb20c;
  }

  .resetPasswordPageRight h2 {
    margin: 0;
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 5px;
  }

  .resetPasswordPageRight p {
    margin: 0;
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 5px;
  }

  .resetPasswordPageRight form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .resetPasswordPageRight label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .resetPasswordPageRight input {
    text-align: center;
    background-color: #ffb20c;
    border: 4px solid black;
    border-radius: 25px;
  }

  .resetPasswordPageRight input::placeholder {
    color: black;
  }

  .resetPasswordPageRight input:focus {
    border: 4px solid purple;
  }

  .resetPasswordPage button {
    border: 4px solid #ffb20c;
    background-color: black;
    color: #ffb20c;
    padding: 5px;
    font-size: 1.2rem;
    transition: 0.5s ease;
  }

  .resetPasswordPage button:active {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .resetPasswordPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 4px solid #ffb20c;
    border-top: none;
  }

  .resetPasswordPageLeft {
    width: 100%;
    height: 30%;
    border-bottom: 4px solid #ffb20c;
  }

  .resetPasswordPageLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .resetPasswordPageRight {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffb20c;
    padding-bottom: 30%;
  }

  .resetPasswordPageRight h2 {
    margin: 0;
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 5px;
  }

  .resetPasswordPageRight p {
    margin: 0;
    background-color: black;
    border: 4px solid #ffb20c;
    padding: 5px;
  }

  .resetPasswordPageRight form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .resetPasswordPageRight label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .resetPasswordPageRight input {
    text-align: center;
    background-color: #ffb20c;
    border: 4px solid black;
    border-radius: 25px;
  }

  .resetPasswordPageRight input::placeholder {
    color: black;
  }

  .resetPasswordPageRight input:focus {
    border: 4px solid purple;
  }

  .resetPasswordPage button {
    border: 4px solid #ffb20c;
    background-color: black;
    color: #ffb20c;
    padding: 5px;
    font-size: 1rem;
    transition: 0.5s ease;
  }

  .resetPasswordPage button:active {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }
}
