/* VERSION PC */
@media screen and (min-width: 1441px) {
  .userRatingReviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffb20c;
  }

  .rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .ratingForm,
  .ratingFormNoUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: black;
    border: 4px solid #ffb20c;
    gap: 10px;
    padding: 10px;
  }

  .ratingForm label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .rating-display {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  .reviewText p {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  .ratingForm label textarea,
  .noUserContainer textarea {
    width: 100%;
    height: 10rem;
    overflow-y: auto;
    border: 4px solid #ffb20c;
    resize: none;
  }

  .ratingForm label textarea::-webkit-scrollbar {
    width: 12px;
  }

  .ratingForm label textarea::-webkit-scrollbar-track {
    background-color: black;
  }

  .ratingForm label textarea::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 20px;
    border: 3px solid black;
  }

  .ratingForm button {
    width: 80%;
    height: auto;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    border: 4px solid #ffb20c;
    color: #ffb20c;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .ratingForm button:hover {
    background-color: #ffb20c;
    color: black;
  }

  .noUserContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 100%;
    padding: 20px;
    border: 4px solid #ffb20c;
  }

  .noUserContainer p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .userRatingReviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffb20c;
  }

  .rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .ratingForm,
  .ratingFormNoUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: black;
    border: 4px solid #ffb20c;
    gap: 10px;
    padding: 10px;
  }

  .ratingForm label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .rating-display {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  .reviewText p {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  .ratingForm label textarea,
  .noUserContainer textarea {
    width: 100%;
    height: 10rem;
    overflow-y: auto;
    border: 4px solid #ffb20c;
    resize: none;
  }

  .ratingForm label textarea::-webkit-scrollbar {
    width: 12px;
  }

  .ratingForm label textarea::-webkit-scrollbar-track {
    background-color: black;
  }

  .ratingForm label textarea::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 20px;
    border: 3px solid black;
  }

  .ratingForm button {
    width: 80%;
    height: auto;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    border: 4px solid #ffb20c;
    color: #ffb20c;
    cursor: pointer;
  }

  .noUserContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 100%;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .noUserContainer p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

/* VERSION TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .userRatingReviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffb20c;
  }

    .rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .ratingForm,
  .ratingFormNoUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 4px solid #ffb20c;
    gap: 10px;
    padding: 10px;
  }

  .ratingForm label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

    .rating-display {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  .reviewText p {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }


  .ratingForm label textarea,
  .noUserContainer textarea {
    width: 100%;
    height: 10rem;
    overflow-y: auto;
    color: black;
    border: 4px solid #ffb20c;
    resize: none;
  }

    .ratingForm label textarea::-webkit-scrollbar {
    width: 12px;
  }

  .ratingForm label textarea::-webkit-scrollbar-track {
    background-color: black;
  }

  .ratingForm label textarea::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 20px;
    border: 3px solid black;
  }

  .ratingForm button {
    width: 80%;
    height: auto;
    padding: 5px;
    font-size: 20px;
    background-color: black;
    border: 4px solid #ffb20c;
    color: #ffb20c;
    transition: 0.5s ease;
  }

  .ratingForm button:active {
    background-color: #ffb20c;
    color: black;
  }

  .noUserContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .noUserContainer p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .userRatingReviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffb20c;
  }

  .rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .ratingForm,
  .ratingFormNoUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 4px solid #ffb20c;
    gap: 10px;
    padding: 10px;
  }

  .ratingForm label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .rating-display {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  .reviewText p {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  .ratingForm label textarea,
  .noUserContainer textarea {
    width: 100%;
    height: 10rem;
    overflow-y: auto;
    border: 4px solid #ffb20c;
    resize: none;
  }

  .ratingForm label textarea::-webkit-scrollbar {
    width: 10px;
  }

  .ratingForm label textarea::-webkit-scrollbar-track {
    background-color: black;
  }

  .ratingForm label textarea::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 20px;
    border: 3px solid black;
  }

  .ratingForm button {
    width: 80%;
    height: auto;
    padding: 5px;
    font-size: 18px;
    background-color: black;
    border: 4px solid #ffb20c;
    color: #ffb20c;
    transition: 0.5s ease;
  }

  .ratingForm button:active {
    background-color: #ffb20c;
    color: black;
  }

  .noUserContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .noUserContainer p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
