/* VERSION PC */
@media screen and (min-width: 1441px) {
  .seasonsContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .seasonsContainer p {
    margin: 0;
  }

  .seasonsList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
  }

  .seasonCard {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .seasonCard h3 {
    margin: 0;
  }

  .seasonCard img {
    width: 16rem;
    height: 25rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 20px;
    transition: 0.5s ease;
  }

  .seasonCard p {
    margin: 0;
    font-size: 20px;
  }
}
/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .seasonsContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border: 4px solid #ffb20c;
  }

  .seasonsContainer p {
    margin: 0;
  }

  .seasonsList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
  }

  .seasonCard {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .seasonCard h3 {
    margin: 0;
  }

  .seasonCard img {
    width: 15rem;
    height: 21rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 20px;
    transition: 0.5s ease;
  }

  .seasonCard p {
    margin: 0;
    font-size: 18px;
  }
}
/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .seasonsContainer {
    display: flex;
    flex-direction: column;
    border: 4px solid #ffb20c;
  }

  .seasonsList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
      height: auto;
    gap: 10px;
    padding: 10px;
    scroll-behavior: smooth;
    background-color: black;
  }

  .seasonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .seasonCard img {
    width: 12rem;
    height: 18rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .seasonCard h3 {
    font-size: 18px;
    margin: 0;
  }

  .seasonCard p {
    margin: 0;
    font-size: 15px;
    text-align: center;
  }
}
/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .seasonsContainer {
    display: flex;
    flex-direction: column;
    border: 4px solid #ffb20c;
  }

  .seasonsList {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    scroll-behavior: smooth;
    background-color: black;
  }

  .seasonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .seasonCard img {
    width: 12rem;
    height: 18rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 10px;
  }

  .seasonCard h3 {
    font-size: 18px;
    margin: 0;
  }

  .seasonCard p {
    margin: 0;
    font-size: 15px;
    text-align: center;
  }
}
