/* VERSION PC */
@media screen and (min-width: 1441px) {
  .oneSeriePage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 30px;
  }

  .oneSerieHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: auto;
    position: relative;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    border-top: none;
  }

  .oneSerieBackground {
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
    right: 0;
    z-index: 1;
  }

  .oneSerieHeaderContent {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
    z-index: 2;
    background: linear-gradient(to right, black 50%, transparent 80%);
  }

  .oneSerieHeaderContentLeft {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    gap: 10px;
  }

  .oneSeriePoster {
    width: auto;
    height: 35rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .oneSeriePosterPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 35rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSeriePosterPlaceholder img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 10px;
  }

  .oneSeriePosterPlaceholder p {
    margin: 0;
    font-size: 20px;
  }

  .oneSerieHeaderContentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: auto;
  }

  .oneSerieLogo {
    width: 50%;
    height: 10rem;
    object-fit: contain;
    border: 4px solid #ffb20c;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneSerieHeaderContentRight h4 {
    margin: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border: 4px solid #ffb20c;
  }

  .oneSerieDetails {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 10px;
  }

  .oneSerieInfos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 50%;
    height: 15rem;
    gap: 5px;
    padding: 5px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneSerieInfos::-webkit-scrollbar {
    border: 4px solid black;
    background-color: #ffb20c;
    width: auto;
  }

  .oneSerieInfos::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 6px;
    border: 3px solid #ffb20c;
  }

  .oneSerieInfos::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 6px;
    border: 3px solid black;
  }

  .oneSerieInfos p {
    margin: 0;
    text-align: center;
    font-size: 15px;
    border: 4px solid #ffb20c;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneSerieSynopsis {
    display: flex;
    width: 50%;
    height: auto;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    overflow-y: auto;
    border: 4px solid #ffb20c;
  }

  .castingSection h3 {
    text-align: center;
    margin: 15px 0;
    border: 4px solid #ffb20c;
    color: #ffb20c;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
  }

  .serieReviewsAndTrailer {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 20px;
  }

  .serieReviews h4,
  .serieTrailer h4 {
    background-color: black;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    padding: 10px;
    font-size: 25px;
    margin: 0;
  }

  .serieReviews,
  .serieTrailer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    align-items: center;
    gap: 10px;
  }

  .serieTrailer iframe {
    border: 4px solid #ffb20c;
    width: 80%;
    height: 25rem;
  }

  .oneSerieTrailerPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 25rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSerieTrailerPlaceholder svg {
    font-size: 5rem;
    color: #ffb20c;
  }

  .oneSerieTrailerPlaceholder p {
    margin: 0;
    color: #ffb20c;
    text-align: center;
    font-size: 25px;
  }

  .seasonsSection {
    border: 4px solid #ffb20c;
    width: auto;
    height: auto;
    background-color: black;
    color: #ffb20c;
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }
}
/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .oneSeriePage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    overflow-y: auto;
  }

  .oneSerieHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: auto;
    position: relative;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    border-top: none;
  }

  .oneSerieBackground {
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
    right: 0;
    z-index: 1;
  }

  .oneSerieHeaderContent {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    gap: 10px;
    padding: 10px;
    z-index: 2;
    background: linear-gradient(to right, black 50%, transparent 80%);
  }

  .oneSerieHeaderContentLeft {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    gap: 10px;
  }

  .oneSeriePoster {
    width: auto;
    height: 30rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .oneSeriePosterPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 30rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSeriePosterPlaceholder img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 10px;
  }

  .oneSeriePosterPlaceholder p {
    margin: 0;
    font-size: 20px;
  }

  .oneSerieHeaderContentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: auto;
  }

  .oneSerieLogo {
    width: 50%;
    height: 10rem;
    object-fit: contain;
    border: 4px solid #ffb20c;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneSerieHeaderContentRight h4 {
    margin: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border: 4px solid #ffb20c;
  }

  .oneSerieDetails {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 12rem;
    gap: 5px;
  }

  .oneSerieInfos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 50%;
    height: auto;
    gap: 5px;
    padding: 5px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid orange;
  }

  .oneSerieInfos::-webkit-scrollbar {
    border: 4px solid black;
    background-color: #ffb20c;
    width: auto;
  }

  .oneSerieInfos::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 6px;
    border: 3px solid #ffb20c;
  }

  .oneSerieInfos::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 6px;
    border: 3px solid black;
  }

  .oneSerieInfos p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    border: 4px solid #ffb20c;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneSerieSynopsis {
    border: 4px solid #ffb20c;
    width: 50%;
    height: auto;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 15px;
    overflow-y: auto;
  }

  .oneSerieSynopsis p {
    margin: 0;
  }

  .oneSerieSynopsis::-webkit-scrollbar {
    border: 4px solid black;
    background-color: #ffb20c;
    width: auto;
  }

  .oneSerieSynopsis::-webkit-scrollbar-track {
    background: black;
    border-radius: 6px;
    border: 3px solid #ffb20c;
  }

  .oneSerieSynopsis::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
    border-radius: 6px;
    border: 3px solid black;
  }

  .castingSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    height: auto;
  }

  .castingSection h3 {
    margin: 0;
    text-align: center;
    color: #ffb20c;
    padding: 15px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .serieReviewsAndTrailer {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 20px;
  }

  .serieReviews h4,
  .serieTrailer h4 {
    background-color: black;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    padding: 10px;
    font-size: 25px;
    margin: 0;
  }

  .serieReviews,
  .serieTrailer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    align-items: center;
    gap: 30px;
  }

  .serieTrailer iframe {
    border: 4px solid #ffb20c;
    width: 80%;
    height: 20rem;
  }

  .oneSerieTrailerPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSerieTrailerPlaceholder svg {
    font-size: 4rem;
    color: #ffb20c;
  }

  .oneSerieTrailerPlaceholder p {
    margin: 0;
    color: #ffb20c;
    text-align: center;
    font-size: 20px;
  }

  .seasonsSection {
    border: 4px solid #ffb20c;
    width: auto;
    height: auto;
    background-color: black;
    color: #ffb20c;
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }
}
/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .oneSeriePage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding-bottom: 15%;
    border-bottom: 4px solid #ffb20c;
  }

  .oneSerieHeader {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: #ffb20c;
  }

  .oneSerieBackground {
    width: auto;
    height: 15%;
    border: 4px solid #ffb20c;
    border-bottom: none;
  }

  .oneSerieHeaderContent {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneSerieHeaderContentLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneSeriePoster {
    width: 19rem;
    height: 27rem;
    object-fit: fill;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSeriePosterPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 19rem;
    height: 27rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSeriePosterPlaceholder img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 10px;
  }

  .oneSeriePosterPlaceholder p {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }

  .oneSerieHeaderContentRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneSerieLogo {
    width: 100%;
    height: 8rem;
    object-fit: contain;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneSerieHeaderContentRight h4 {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSerieDetails {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneSerieInfos {
    border: 4px solid #ffb20c;
    display: grid;
    grid-template-columns: auto auto auto;
    width: auto;
    height: auto;
    padding: 5px;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneSerieInfos p {
    margin: 0;
    text-align: center;
    font-size: 15px;
    border: 4px solid #ffb20c;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneSerieSynopsis {
    width: auto;
    height: 10rem;
    padding: 10px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneSerieSynopsis p {
    margin: 0;
    text-align: justify;
    font-size: 16px;
  }

  .castingSection,
  .seasonsSection {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
  }

  .castingSection h3,
  .seasonsSection h3 {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .serieReviewsAndTrailer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 5px;
  }

  .serieReviews h4,
  .serieTrailer h4 {
    background-color: black;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    padding: 10px;
    font-size: 20px;
    margin: 0;
  }

  .serieReviews,
  .serieTrailer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 10px;
  }

  .serieTrailer iframe {
    border: 4px solid #ffb20c;
    width: 100%;
    height: 15rem;
  }

  .oneSerieTrailerPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSerieTrailerPlaceholder svg {
    font-size: 2rem;
    color: #ffb20c;
  }

  .oneSerieTrailerPlaceholder p {
    margin: 0;
    color: #ffb20c;
    text-align: center;
    font-size: 15px;
  }
}
/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .oneSeriePage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding-bottom: 25%;
    border-bottom: 4px solid #ffb20c;
  }

  .oneSerieHeader {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: #ffb20c;
  }

  .oneSerieBackground {
    width: auto;
    height: 15%;
    border: 4px solid #ffb20c;
    border-bottom: none;
  }

  .oneSerieHeaderContent {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneSerieHeaderContentLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneSeriePoster {
    width: 13rem;
    height: 19rem;
    object-fit: fill;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSeriePosterPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 19rem;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSeriePosterPlaceholder p {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }

  .oneSeriePosterPlaceholder img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 10px;
  }

  .oneSerieHeaderContentRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneSerieLogo {
    width: 100%;
    height: 7rem;
    object-fit: contain;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneSerieHeaderContentRight h4 {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSerieDetails {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 15px;
  }

  .oneSerieInfos {
    border: 4px solid #ffb20c;
    display: grid;
    grid-template-columns: auto auto auto;
    width: auto;
    height: auto;
    padding: 5px;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneSerieInfos p {
    margin: 0;
    text-align: center;
    font-size: 13px;
    border: 4px solid #ffb20c;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .oneSerieSynopsis {
    width: auto;
    height: 10rem;
    padding: 10px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid #ffb20c;
  }

  .oneSerieSynopsis p {
    margin: 0;
    text-align: justify;
    font-size: 14px;
  }

  .castingSection,
  .seasonsSection {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
  }

  .castingSection h3,
  .seasonsSection h3 {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .serieReviewsAndTrailer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 0 5px;
  }

  .serieReviews h4,
  .serieTrailer h4 {
    background-color: black;
    color: #ffb20c;
    text-align: center;
    border: 4px solid #ffb20c;
    padding: 10px;
    font-size: 15px;
    margin: 0;
  }

  .serieReviews,
  .serieTrailer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    gap: 10px;
  }

  .serieTrailer iframe {
    border: 4px solid #ffb20c;
    width: 100%;
    height: auto;
  }

  .oneSerieTrailerPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .oneSerieTrailerPlaceholder svg {
    font-size: 1.5rem;
    color: #ffb20c;
  }

  .oneSerieTrailerPlaceholder p {
    margin: 0;
    color: #ffb20c;
    text-align: center;
    font-size: 13px;
  }
}
