/* VERSION PC */
@media screen and (min-width: 1441px) {
  .adminAddSerieOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
  }

  .adminAddSerieModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 90%;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    z-index: 600;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .addSerieButtons {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: auto;
    top: 10px;
    right: 10px;
    gap: 20px;
    justify-content: flex-end;
  }

  .adminAddSerie {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .adminAddSerieForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 10px;
    border: none;
  }

  .adminAddSerieTop {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieTop p {
    margin: 0;
    font-size: 1.5rem;
  }

  .adminAddSerieTop input {
    width: 50%;
    margin: auto;
  }

  .adminAddSerieContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 15px;
  }

  .adminAddSerieLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    gap: 30px;
    padding: 20px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieLeft label {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: 100%;
    gap: 25px;
  }

  .adminAddSerieLeft p {
    margin: 0;
    font-size: 1.5rem;
  }

  .addSeriePosterHolder,
  .seriePosterAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 25rem;
    margin: auto;
    border: 4px solid #ffb20c;
  }

  .addSerieBackgroundHolder,
  .serieBackgroundAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 18rem;
    object-fit: cover;
    margin: auto;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieLeft input {
    width: 100%;
    font-size: 1.2rem;
  }

  .adminAddSerieRight p {
    margin: 0;
    font-size: 1.5rem;
  }

  .adminAddSerieRight {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieRight label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .adminAddSerieRight input {
    width: 100%;
    font-size: 1.2rem;
  }

  .addSerieLogoHolder,
  .serieLogoAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    border: 4px solid #ffb20c;
  }

  .addSerieLogoHolder p {
    margin: 0;
    font-size: 1.5rem;
  }

  .addSerieInfos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieInfos p {
    margin: 0;
    font-size: 1.2rem;
  }

  .addSerieSynopsisTrailer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 0;
  }

  .addSerieSynopsisTrailer p {
    margin: 0;
    font-size: 1.2rem;
  }

  .addSerieSynopsisTrailer label {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieSynopsisTrailer textarea {
    width: auto;
    height: 100%;
  }
}
/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .adminAddSerieOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
  }

  .adminAddSerieModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 95%;
    height: 90%;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    z-index: 600;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 10px;
    border: none;
  }

  .adminAddSerieForm p {
    margin: 0;
  }

  .adminAddSerieForm label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .adminAddSerieForm input,
  .adminAddSerieForm select {
    width: 100%;
    height: auto;
    font-size: 15px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieForm svg {
    font-size: 50px;
    color: #ffb20c;
  }

  .adminAddSerieTopInterface {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieTopInterface h2 {
    margin: 0;
  }

  .addSerieButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .adminAddSerieTop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieContent {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: auto;
    gap: 15px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .seriePosterAdd {
    width: 15rem;
    height: 20rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .addSeriePosterHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15rem;
    height: 20rem;
    gap: 10px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .serieLogoAdd {
    width: 15rem;
    height: 10rem;
    object-fit: contain;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .addSerieLogoHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15rem;
    height: 10rem;
    gap: 10px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieRight {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    gap: 15px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .serieBackgroundAdd {
    width: 100%;
    height: 17rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .addSerieBackgroundHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17rem;
    margin: auto;
    border: 4px solid #ffb20c;
  }

  .addSerieInfos {
    display: grid;
    grid-template-columns: 33% 33% auto;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieInfos label {
    font-size: 18px;
  }

  .addSerieSynopsisTrailer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
  }

  .addSerieSynopsisTrailer label {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieSynopsisTrailer textarea {
    width: 100%;
    height: 8rem;
    font-size: 15px;
    text-align: justify;
    resize: none;
    border: 4px solid #ffb20c;
  }

  .addSerieCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieCastingSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieCastingList {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 10px;
    overflow-x: auto;
  }

  .addSerieCastingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
    font-size: 25px;
    border: 4px solid #ffb20c;
  }

  .addSerieCastingCard img {
    width: 13rem;
    height: 18rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .addMemberCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }
  .addMemberCasting label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    text-align: center;
  }
}
/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .adminAddSerieOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
  }

  .adminAddSerieModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 90%;
    overflow-y: auto;
    gap: 10px;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    z-index: 600;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieForm {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    gap: 10px;
    border: none;
  }

  .adminAddSerieForm p {
    margin: 0;
  }

  .adminAddSerieForm label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .adminAddSerieForm input,
  .adminAddSerieForm select {
    width: 100%;
    height: auto;
    font-size: 15px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieForm svg {
    font-size: 40px;
    color: #ffb20c;
  }

  .adminAddSerieTopInterface {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .adminAddSerieTopInterface h2 {
    margin: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .addSerieButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding: 10px;
  }

  .addSerieButtons button {
    width: 100%;
    height: auto;
    background-color: black;
    color: #ffb20c;
    font-size: 15px;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .addSerieButtons button:active {
    background-color: #ffb20c;
    color: black;
  }

  .adminAddSerieTop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieContent {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: auto;
    gap: 15px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .seriePosterAdd {
    width: 15rem;
    height: 20rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .addSeriePosterHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15rem;
    height: 20rem;
    gap: 10px;
    padding: 5px;
    font-size: 16px;
    border: 4px solid #ffb20c;
  }

  .serieLogoAdd {
    width: 15rem;
    height: 20rem;
    object-fit: contain;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .addSerieLogoHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15rem;
    height: 20rem;
    gap: 10px;
    padding: 5px;
    font-size: 16px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieRight {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 15px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .serieBackgroundAdd {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border: 4px solid #ffb20c;
  }

  .addSerieBackgroundHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    margin: auto;
    gap: 10px;
    padding: 5px;
    font-size: 18px;
    border: 4px solid #ffb20c;
  }

  .addSerieInfos {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieInfos label {
    font-size: 16px;
  }

  .addSerieSynopsisTrailer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
  }

  .addSerieSynopsisTrailer label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieSynopsisTrailer textarea {
    width: 100%;
    height: 10rem;
    font-size: 15px;
    text-align: justify;
    resize: none;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .addSerieCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieCastingSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieCastingList {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 10px;
    overflow-x: auto;
  }

  .addSerieCastingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px;
    gap: 10px;
    font-size: 25px;
    border: 4px solid #ffb20c;
  }

  .addSerieCastingCard button {
    width: 100%;
    height: auto;
    padding: 5px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    font-size: 20px;
    transition: 0.5s ease;
  }

  .addSerieCastingCard button:active {
    background-color: #ffb20c;
    color: black;
  }

  .addSerieCastingCard img {
    width: 13rem;
    height: 19rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
  }
}
/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .adminAddSerieOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
  }

  .adminAddSerieModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 90%;
    overflow-y: auto;
    gap: 10px;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    z-index: 600;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieForm {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    gap: 10px;
    border: none;
  }

  .adminAddSerieForm p {
    margin: 0;
  }

  .adminAddSerieForm label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .adminAddSerieForm input,
  .adminAddSerieForm select {
    width: 100%;
    height: auto;
    font-size: 15px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieForm svg {
    font-size: 40px;
    color: #ffb20c;
  }

  .adminAddSerieTopInterface {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .adminAddSerieTopInterface h2 {
    margin: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .addSerieButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding: 10px;
  }

  .addSerieButtons button {
    width: 100%;
    height: auto;
    background-color: black;
    color: #ffb20c;
    font-size: 15px;
    border: 4px solid #ffb20c;
    transition: 0.5s ease;
  }

  .addSerieButtons button:active {
    background-color: #ffb20c;
    color: black;
  }

  .adminAddSerieTop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieContent {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: auto;
    gap: 15px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .seriePosterAdd {
    width: 10rem;
    height: 15rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
  }

  .addSeriePosterHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10rem;
    height: 15rem;
    gap: 10px;
    padding: 5px;
    font-size: 16px;
    border: 4px solid #ffb20c;
  }

  .serieLogoAdd {
    width: 10rem;
    height: 15rem;
    object-fit: contain;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .addSerieLogoHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10rem;
    height: 15rem;
    gap: 10px;
    padding: 5px;
    font-size: 16px;
    border: 4px solid #ffb20c;
  }

  .adminAddSerieRight {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 15px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .serieBackgroundAdd {
    width: 100%;
    height: 17rem;
    object-fit: cover;
    border: 4px solid #ffb20c;
  }

  .addSerieBackgroundHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17rem;
    margin: auto;
    gap: 10px;
    padding: 5px;
    font-size: 18px;
    border: 4px solid #ffb20c;
  }

  .addSerieInfos {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieInfos label {
    font-size: 16px;
  }

  .addSerieSynopsisTrailer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
  }

  .addSerieSynopsisTrailer label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieSynopsisTrailer textarea {
    width: 100%;
    height: 10rem;
    font-size: 15px;
    text-align: justify;
    resize: none;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .addSerieCasting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieCastingSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .addSerieCastingList {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 10px;
    overflow-x: auto;
  }

  .addSerieCastingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px;
    gap: 10px;
    font-size: 25px;
    border: 4px solid #ffb20c;
  }

  .addSerieCastingCard button {
    width: 100%;
    height: auto;
    padding: 5px;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
    font-size: 20px;
    transition: 0.5s ease;
  }

  .addSerieCastingCard button:active {
    background-color: #ffb20c;
    color: black;
  }

  .addSerieCastingCard img {
    width: 9rem;
    height: 14rem;
    object-fit: fill;
    border: 4px solid #ffb20c;
    border-radius: 25px;
  }
}
