/* VERSION PC */
@media screen and (min-width: 1441px) {
  .reviews-modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffb20c;
    border: 4px solid #ffb20c;
    z-index: 999;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .reviews-modal-backdrop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 90%;
    overflow-y: hidden;
    background-color: black;
    z-index: 1000;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-header button {
    width: 40px;
    height: 40px;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    border-radius: 100%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .reviews-modal-header button:hover {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .reviews-modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
  }

  .reviews-modal-content button {
    width: auto;
    height: auto;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .reviews-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    overflow-y: auto !important;
    border: 4px solid #ffb20c;
  }

  .reviews-list::-webkit-scrollbar {
    width: 10px;
  }

  .reviews-list::-webkit-scrollbar-track {
    background-color: black;
  }

  .reviews-list::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
  }

  .review-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .review-card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40%;
    height: auto;
  }

  .review-card-left img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border: 4px solid #ffb20c;
    border-radius: 100%;
  }

  .review-avatar-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    font-size: 10rem;
    margin: 0;
    border: 4px solid #ffb20c;
    border-radius: 50%;
  }

  .review-card-left p {
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .review-card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: auto;
    gap: 10px;
  }

  .review-rating-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .review-rating-display p {
    margin: 0;
    font-size: 30px;
  }

  .review-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
    gap: 5px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .review-text p {
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: justify;
    font-size: 18px;
    border: 2px solid #ffb20c;
  }

  .review-text p::-webkit-scrollbar {
    width: 10px;
  }

  .review-text p::-webkit-scrollbar-track {
    background-color: black;
  }

  .review-text p::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
  }

  .review-date,
  .review-edited {
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    border: none !important;
    font-size: 13px !important;
    text-align: right !important;
    overflow: hidden !important;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .reviews-modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffb20c;
    border: 4px solid #ffb20c;
    z-index: 999;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .reviews-modal-backdrop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;
    overflow-y: hidden;
    background-color: black;
    z-index: 1000;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-header button {
    width: 40px;
    height: 40px;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    border-radius: 100%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .reviews-modal-header button:hover {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .reviews-modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
  }

  .reviews-modal-content button {
    width: auto;
    height: auto;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .reviews-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    overflow-y: auto !important;
    border: 4px solid #ffb20c;
  }

  .reviews-list::-webkit-scrollbar {
    width: 10px;
  }

  .reviews-list::-webkit-scrollbar-track {
    background-color: black;
  }

  .reviews-list::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
  }

  .review-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .review-card-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: auto;
  }

  .review-card-left img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border: 4px solid #ffb20c;
    border-radius: 100%;
  }

  .review-avatar-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    font-size: 8rem;
    margin: 0;
    border: 4px solid #ffb20c;
    border-radius: 50%;
  }

  .review-card-left p {
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .review-card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: auto;
    gap: 10px;
  }

  .review-rating-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .review-rating-display p {
    margin: 0;
    font-size: 30px;
  }

  .review-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
    gap: 5px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .review-text p {
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: justify;
    font-size: 18px;
    border: 2px solid #ffb20c;
  }

  .review-text p::-webkit-scrollbar {
    width: 10px;
  }

  .review-text p::-webkit-scrollbar-track {
    background-color: black;
  }

  .review-text p::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
  }

  .review-date,
  .review-edited {
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    border: none !important;
    font-size: 13px !important;
    text-align: right !important;
    overflow: hidden !important;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
      .reviews-modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffb20c;
    border: 4px solid #ffb20c;
    z-index: 999;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .reviews-modal-backdrop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    overflow-y: hidden;
    background-color: black;
    z-index: 1000;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px !important;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-header button {
    width: 50px;
    height: 50px;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    border-radius: 100%;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .reviews-modal-header button:active {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .reviews-modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
  }

  .reviews-modal-content button {
    width: auto;
    height: auto;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .reviews-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    overflow-y: auto !important;
    border: 4px solid #ffb20c;
  }

  .reviews-list::-webkit-scrollbar {
    width: 5px;
  }

  .reviews-list::-webkit-scrollbar-track {
    background-color: black;
  }

  .reviews-list::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
  }

  .review-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .review-card-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .review-card-left img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border: 4px solid #ffb20c;
    border-radius: 100%;
  }

  .review-avatar-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    font-size: 5rem;
    margin: 0;
    border: 4px solid #ffb20c;
    border-radius: 50%;
  }

  .review-card-left p {
    margin: 0;
    width: 60%;
    height: auto;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .review-card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .review-rating-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .review-rating-display p {
    margin: 0;
    font-size: 30px;
  }

  .review-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
    gap: 5px;
    padding: 10px;
    border: 4px solid #ffb20c;
  }

  .review-text p {
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: justify;
    font-size: 20px;
    border: 2px solid #ffb20c;
  }

  .review-text p::-webkit-scrollbar {
    width: 5px;
  }

  .review-text p::-webkit-scrollbar-track {
    background-color: black;
  }

  .review-text p::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
  }

  .review-date,
  .review-edited {
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    border: none !important;
    font-size: 15px !important;
    text-align: right !important;
    overflow: hidden !important;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px) {
  .reviews-modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffb20c;
    border: 4px solid #ffb20c;
    z-index: 999;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .reviews-modal-backdrop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    overflow-y: hidden;
    background-color: black;
    z-index: 1000;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px !important;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-header button {
    width: 50px;
    height: 50px;
    background-color: black;
    color: #ffb20c;
    border: 4px solid #ffb20c;
    border-radius: 100%;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .reviews-modal-header button:active {
    background-color: #ffb20c;
    color: black;
    border: 4px solid black;
  }

  .reviews-modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
  }

  .reviews-modal-content button {
    width: auto;
    height: auto;
    color: #ffb20c;
    background-color: black;
    border: 4px solid #ffb20c;
  }

  .reviews-modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .reviews-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    overflow-y: auto !important;
    border: 4px solid #ffb20c;
  }

  .reviews-list::-webkit-scrollbar {
    width: 5px;
  }

  .reviews-list::-webkit-scrollbar-track {
    background-color: black;
  }

  .reviews-list::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
  }

  .review-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 10px;
    border: 4px solid #ffb20c;
    border-radius: 20px;
  }

  .review-card-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .review-card-left img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border: 4px solid #ffb20c;
    border-radius: 100%;
  }

  .review-avatar-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    margin: 0;
    border: 4px solid #ffb20c;
    border-radius: 50%;
  }

  .review-card-left p {
    margin: 0;
    width: 60%;
    height: auto;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .review-card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .review-rating-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .review-rating-display p {
    margin: 0;
    font-size: 20px;
  }

  .review-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
    gap: 5px;
    padding: 5px;
    border: 4px solid #ffb20c;
  }

  .review-text p {
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: justify;
    font-size: 14px;
    border: 2px solid #ffb20c;
  }

  .review-text p::-webkit-scrollbar {
    width: 5px;
  }

  .review-text p::-webkit-scrollbar-track {
    background-color: black;
  }

  .review-text p::-webkit-scrollbar-thumb {
    background-color: #ffb20c;
  }

  .review-date,
  .review-edited {
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    border: none !important;
    font-size: 9px !important;
    text-align: right !important;
    overflow: hidden !important;
  }
}
